* {
    box-sizing: border-box;
}

body {
    /*background-image: url('../images/background-tipsy-cook.jpg');*/
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../images/background-tipsy-cook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 64px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

h1, h2, #about-p {
    color: white;
    margin: 5% 0;
}

.headline {
    padding-top: 20%;
    text-align: center;
}

#sign-in-modal {
    line-height: 2rem;
}

#drink-title, #food-title, #movie-title {
    font-family: 'Bitter', serif;
    font-size: 22px;
}

.result-title {
    margin: 0.5em;
    padding-bottom: 0;
}

.btn-style {
    margin: 1% 2%;
}

.question {
    margin: 5% 0;
}

#about {
    margin-top: -8em;
}

.about-section {
    font-family: 'Bitter', serif;
    font-size: 36px;
    margin-bottom: -0.5em;
}

.navbar-brand {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

#random {
    color: white;
}

#random:hover {
    color: #212529;
    text-decoration: none;
}
    
#module {
    width: 500px;
}

#module p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

#module p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

#module a.collapsed:after {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

#clickCollapse {
    color: #E4572E;
    float: right;
}

.modal-backdrop.show {
    opacity: 0;
}

.carousel {
    display: none;
}

