* {
    box-sizing: border-box;
}

body {
    /*background-image: url('../images/background-tipsy-cook.jpg');*/
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('../images/background-tipsy-cook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 64px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

h1, h2 {
    color: white;
    margin: 5% 0;

}

.headline {
    padding-top: 20%;
    text-align: center;
}

#sign-in-modal {
    line-height: 2rem;
}

#drink-title {
    font-family: 'Bitter', serif;
    font-size: 35px;
    
}